/*--------- انس--------*/


/*-----------------details page---------------------*/
div .the-continer {
    transition: all ease 0.3s;
}

.box {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
   
}

    .box:hover {
        transform: scale(1.1);
        box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.5);
        transition: 1s;
    }

.hightNots {
    
    height: 200px;
}
.height {
    min-height: 100vh;
}

.widthDetiles {
    width: 1080px;
}

/*----------------- end details page---------------------*/



/*----------------- Start Create person page---------------------*/
@font-face {
    font-family: "Muli-Regular";
     src: url(../fonts/muli/Muli-Regular.ttf);
}

@font-face {
    font-family: "Muli-SemiBold";
   
    src: url(../fonts/muli/Muli-SemiBold.ttf);
}

@font-face {
    font-family: "Muli-Bold";
    src: url(../fonts/muli/Muli-Bold.ttf);
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

body {
    font-family: "Muli-Regular";
    color: #666;
    font-size: 13px;
    margin: 0;
}

input, textarea, select, button {
    font-family: "Muli-Regular";
    color: #333;
    font-size: 13px;
}

p, h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
}

img {
    max-width: 100%;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
}

a:hover {
    text-decoration: none;
}

:focus {
    outline: none;
}


.background-image {
    background-image: url(/images/background-image.jpg);
    background-position: center center;
    background-size: cover;
}

.wrapper {
    background-image: url(/images/background-image.jpg);
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner {
    min-width: 1400Px;
    margin: auto;
    padding-top: 68px;
    padding-bottom: 48px;
    background-image: url(/images/MyImg.jpg);
    background-position: center center;
    background-size: cover;
}

    .inner h3 {
        text-transform: uppercase;
        font-size: 22px;
        font-family: "Muli-Bold";
        text-align: center;
        margin-bottom: 32px;
        color: #333;
        letter-spacing: 2px;
    }

form {
    width: 50%;
    padding-left: 45px;
}

.form-group {
    display: flex;
}

    .form-group .form-wrapper {
        width: 50%;
    }

        .form-group .form-wrapper:first-child {
            margin-right: 20px;
        }

.form-wrapper {
    margin-bottom: 17px;
}

    .form-wrapper label {
        margin-bottom: 9px;
        display: block;
    }

.form-control {
    border: 1px solid #ccc;
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    border-radius: 20px;
    font-family: "Muli-Bold";
    background: none;
}

    .form-control:focus {
        border: 1px solid #ae3c33;
    }

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    padding-left: 20px;
}

    select option[value=""][disabled] {
        display: none;
    }

.button {
    border: none;
    width: 152px;
    height: 40px;
    margin: auto;
    margin-top: 29px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #ae3c33;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    font-family: "Muli-SemiBold";
    border-radius: 20px;
    overflow: hidden;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

    .button:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #f11a09;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0 50%;
        transform-origin: 0 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    .button:hover:before {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
        transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    }

.checkbox {
    position: relative;
}

    .checkbox label {
        padding-left: 22px;
        cursor: pointer;
    }

    .checkbox input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

        .checkbox input:checked ~ .checkmark:after {
            display: block;
        }

.checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 12px;
    width: 13px;
    border-radius: 2px;
    background-color: #ebebeb;
    border: 1px solid #ccc;
    font-family: Material-Design-Iconic-Font;
    color: #000;
    font-size: 10px;
    font-weight: bolder;
}

    .checkmark:after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        content: '\f26b';
    }

@media (max-width: 991px) {
    .inner {
        min-width: 768px;
    }
}

@media (max-width: 767px) {
    .inner {
        min-width: auto;
        background: none;
        padding-top: 0;
        padding-bottom: 0;
    }

    form {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
}

/*# sourceMappingURL=style.css.map */



/*--------- انس نهايه--------*/
body {
    font-family: 'segoe ui light';
    font-size: 18px;
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}*/

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  position: relative;
  min-height: 100%;
}

body {*/
  /* Margin bottom by footer height */
  /*margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;*/ /* Vertically center the text there */
/*}*/


/*---------------------------- index person-----------------------------*/

.backgroungCard{
    background-image:url(../images/light_dot.jpg);
}
.container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
}

.three-d-card {
    position: relative;
    width: 440px;
    height: 380px;
    perspective: 1000px;
    display: flex;
    padding: 17px;
    margin-top: -22px;
}

.card-wrapper {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

@media (max-width: 600px) {
    .three-d-card {
        width: 320px;
        height: 480px;
    }
}

.three-d-card:hover .card-wrapper {
    transform: rotateY(180deg);
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #f17eaa;
    border-radius: 15px;
}

.shadowRed {
    /* الاحمر */
    box-shadow: 3px 2px 35px rgba(255, 0, 0, 0.8);
}

.shadowBlue {
    /* الشادو الازرق */
    box-shadow: 0px 0px 14px#17bba5;
}

.card-face.front {
    transform: rotateY(0deg);
}

.card-face.back {
    transform: rotateY(180deg);
}

.card-content {
    justify-content: center;
    text-align: center;
    color: #000000;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-description {
    font-size: 15px;
    font-weight: 700;
    color: #000;
}

.card-description {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.column {
    padding-left: 0%;
}

@media only screen and (max-width: 600px) {
    .card-description {
        flex-direction: column;
        align-items: center;
    }
}

.bt {
    --color: #cf2c86;
    --color2: rgb(10, 25, 30);
    padding: 0.4em 1.1em;
    background-color: transparent;
    border-radius: 6px;
    border: .3px solid var(--color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    color: var(--color);
    margin: 4px;
}

    .bt::after, .bt::before {
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        transform: skew(90deg) translate(-50%, -50%);
        position: absolute;
        inset: 50%;
        left: 25%;
        z-index: -1;
        transition: .5s ease-out;
        background-color: var(--color);
    }

    .bt::before {
        top: -50%;
        left: -25%;
        transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
    }

    .bt:hover::before {
        transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
    }

    .bt:hover::after {
        transform: skew(45deg) translate(-50%, -50%);
    }

    .bt:hover {
        color: var(--color2);
    }

    .bt:active {
        filter: brightness(.7);
        transform: scale(.98);
    }


h1 {
    color: rgb(173, 104, 144);
    text-align: center;
    font-family: "r";
}

.sear-box, .close-icon, .sear-wrapper {
    position: relative;
    justify-content: center;
    padding: 10px;
}

    .sear-wrapper .bt {
        justify-content: center;
    }

.sear-wrapper {
margin: auto;
}

@media only screen and (max-width: 600px) {
    .sear-wrapper {
        width: 300px;
    }
}

.sear-box {
    width: 100%;
    border: 1px solid #ccc;
    outline: 0;
    border-radius: 15px;
}

    .sear-box:focus {
        box-shadow: 0 0 15px 5px #eeb0d4fd;
        border: 2px solid #bebede;
    }