@using PL.ViewModels
@model RoleViewModel



<div class="form-group">
    <lable class="col-form-label" asp-for="FName"></lable>
    <input asp-for="RoleName" class="form-control"/>
    @* <span asp-validation-for="RoleName" class="text-danger"></span> *@
</div>
