@model MotherViewModel
@{
    ViewData["Title"] = "Delete";
}


<section>

    <div class="wrapper">
        <div class="inner shadow-lg ">

            <form asp-action="Delete" enctype="multipart/form-data">
                <input asp-for="ImageName" hidden />
                <h3>Delete Registration Form</h3>
                <h3 class="alert alert-danger text-danger"> Are you sure you want to delete @Model.Name</h3>
                <div class="form-group">
                    <div class="form-wrapper">
                        <label for="">Name</label>
                        <input asp-for="Name" type="text" class="form-control " readonly>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-wrapper">
                        <label for="">National number</label>
                        <input asp-for="National_Mother_Id" type="number" class="form-control" readonly>
                        <span asp-validation-for="National_Mother_Id" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-wrapper">
                    <label for="">Address</label>
                    <input asp-for="Address" type="text" class="form-control" readonly>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-wrapper">
                    <label for="">Home Phone Number</label>
                    <input asp-for="HomePhoneNumber" type="number" class="form-control" readonly>
                    <span asp-validation-for="HomePhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="form-wrapper">
                        <label for="">Phone Number</label>
                        <input asp-for="PhoneNumber1" type="text" class="form-control " readonly>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-wrapper">
                        <label for="">Other Phone Number</label>
                        <input asp-for="PhoneNumber2" type="number" class="form-control" readonly>
                        <span asp-validation-for="National_Mother_Id" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-wrapper">
                    <label for="">Date Of Birth</label>
                    <input asp-for="DateOfBirth" type="datetime-local" class="form-control" readonly>
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
                <div class="form-wrapper">
                    <label for="">Nots</label>
                    <input asp-for="Nots" type="text" class="form-control" readonly>

                </div>
                <button class="button">Delete Now</button>
            </form>
        </div>
    </div>

</section>





