@using PL.ViewModels
@model RoleViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Roles</h1>
<br />
<br />
<form asp-action="Edit">
    <div asp-validation-summary="All"></div>
    @Html.Partial("~/Views/Role/PartialViews/_CreateEditView.cshtml")
    @* <partial name="PartialViews/_CreateEditView.cshtml"/> *@
    <input type="submit" name="Save" class="btn btn-primary" /> ||
    <a asp-action="Index" class="btn btn-light">Back To List</a>

</form>
@section ValidationScriptSection {
    <partial name="_ValidationScriptsPartial" />
}

