@using PL.ViewModels
@model UserViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>
<div class="ml-3 ">
    @* <partial name="Views\User\PartialViews\_DeleteDetailsView.cshtml" /> *@
    @Html.Partial("~/Views/User/PartialViews/_DeleteDetailsView.cshtml")
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Edit</a> ||
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</div>

